.Login-container {
  max-width: 350px;
  height: 65vh;
  margin: 50px auto;
  border: 1px solid #593D3B;
  margin-top: 60px;
  padding: 20px;
  background: #BCB8B1;
  border-radius: 10px;
}

.ri-login-circle-fill {
 font-size: 50px;
}

.discription {
  font-size: 20px;
  margin-top: none;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.forget-msg-text {
  text-align: left;
  text-decoration: none;
  
}

.login-btn {
  padding: 10px;
  border: 1px solid #593D3B;
  border-radius: 5px;
  background: #463F3A;
  color: #fffefc;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}
